.home {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
h1 {
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto 0.8214em;
}
h2 {
  font-size: 2.42857em;
  font-weight: 500;
  color: #212121;
  text-transform: uppercase;
  margin: 0 auto 0.7647em;
}
h3 {
  font-size: 1.714285em;
  font-weight: 700;
  color: #212121;
  text-transform: uppercase;
  margin: 0 auto 0.5833em;
}
h4 {
  font-size: 1.42857em;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 auto 0.7em;
}
h5 {
  font-size: 1.285714em;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
  margin: 0 auto 1.3333em;
}
h6 {
  font-size: 1.142857em;
  font-weight: 400;
  color: #727272;
  margin: 0 auto 1.25em;
}
p {
  font-size: 14px;
  color: grey;
  margin: 0;
  line-height: 24px;
}
ul {
  padding: 0;
}
ul li {
  list-style: none;
}
.no-padding {
  padding: 0;
}
section {
  background: #fff;
}
.bg-blue {
  background: #1976d2;
  color: #fff;
}
.bg-blue h2,
.bg-blue h3,
.bg-blue h4,
.bg-blue h5,
.bg-blue h6,
.bg-blue p {
  color: #fff;
}
.btn {
  border-radius: 3px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.btn-lg {
  padding: 21px 37px;
  border: 0;
}
hr {
  width: 50px;
  border: 2px #2095f2 solid;
  margin: 0 auto 5.2857em;
}
.social-media-box {
  margin: 13px 0;
  font-size: 12.5px;
}
.social-media-box .zmdi-hc-stack {
  margin: 0 4px;
}
.zmdi-hc-stack {
  color: #fff;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.zmdi-hc-stack:hover {
  color: #f95d5a;
}
.zmdi-hc-stack .zmdi-hc-inverse {
  color: #1976d2;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.zmdi-hc-stack .zmdi-hc-inverse:hover {
  color: #fff;
}
#minibar .contact {
  margin: 15px 0;
  display: table;
  padding-left: 4.427vw;
}
#minibar .contact li {
  float: left;
  padding-right: 19px;
}
#minibar .contact i {
  padding-right: 10px;
}
#minibar .contact .social-media {
  padding-right: 5.1vw;
}
header .navbar {
  margin: 0;
  border: 0;
  border-radius: 0;
  height: 111px;
  min-height: 111px;
  background: #fff;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 200;
  -webkit-transition: height 300ms ease-in;
  -moz-transition: height 300ms ease-in;
  -ms-transition: height 300ms ease-in;
  -o-transition: height 300ms ease-in;
  transition: height 300ms ease-in;
  -webkit-transition: top 300ms ease-in;
  -moz-transition: top 300ms ease-in;
  -ms-transition: top 300ms ease-in;
  -o-transition: top 300ms ease-in;
  transition: top 300ms ease-in;
}
@media screen and (min-width: 992px) {
  header .navbar {
    top: 51px;
  }
}
header .navbar .navbar-toggle {
  border: 1px solid #2095f2;
  cursor: pointer;
}
header .navbar .navbar-toggle span {
  border: 1px solid #2095f2;
}
header .navbar .navbar-header {
  padding-left: 4.427vw;
}
header .navbar .navbar-brand {
  padding: 38px 0;
  height: 111px;
}
@media screen and (min-width: 1200px) {
  header .navbar .navbar-brand {
    padding: 29px 0;
  }
}
header .navbar .navbar-brand img {
  height: 35px;
  margin-left: 15px;
  -webkit-transition: height 300ms ease-in;
  -moz-transition: height 300ms ease-in;
  -ms-transition: height 300ms ease-in;
  -o-transition: height 300ms ease-in;
  transition: height 300ms ease-in;
}
@media screen and (min-width: 1200px) {
  header .navbar .navbar-brand img {
    height: 53px;
  }
}
header .navbar .navbar-nav a {
  padding: 25px 10px;
  color: #333333;
  text-transform: uppercase;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
@media screen and (min-width: 768px) {
  header .navbar .navbar-nav a {
    padding: 45.5px 10px;
    height: 111px;
  }
}
@media screen and (min-width: 1200px) {
  header .navbar .navbar-nav a {
    padding: 45.5px 15px;
  }
}
header .navbar .navbar-nav a:hover,
header .navbar .navbar-nav a:focus,
header .navbar .navbar-nav a:active {
  background: transparent;
  color: #f95d5a;
  border-bottom: #f95d5a 3px solid;
}
header .navbar #search-btn {
  padding: 37px 70px 37px 37px;
}
header .navbar #search-btn .zmdi-hc-stack {
  color: #f95d5a;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
header .navbar #search-btn .zmdi-hc-stack:hover {
  color: #2095f2;
}
header .navbar #search-btn .zmdi-hc-inverse {
  color: #fff;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
header .navbar #search-btn .zmdi-hc-inverse:hover {
  color: #eee;
}
header .navbar.smaller {
  top: 0;
  height: 70px;
  min-height: 70px;
}
header .navbar.smaller .navbar-brand {
  height: 70px;
  padding: 20px 0;
}
header .navbar.smaller .navbar-brand img {
  height: 30px;
}
header .navbar.smaller .navbar-nav a {
  height: 70px;
  padding-top: 25px;
  padding-bottom: 25px;
}
header .navbar.smaller #search-btn {
  padding: 16.335px 70px 16.335px 37px;
}
header .navbar.smaller .navbar-toggle {
  margin: 18px 15px 18px 0;
}
@media screen and (max-width: 770px) {
  header .navbar-collapse {
    background: #fff;
  }
}
#hero {
  padding: 19.5em 0 0;
  background-image: url("../img/hero/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}
#hero h1 {
  text-transform: uppercase;
}
#hero h1 strong {
  color: #03a9f4;
}
#hero h2 {
  font-size: 1.42857em;
  font-weight: 400;
  color: #fff;
  text-transform: none;
  margin-bottom: 3em;
}
#hero .btn-lg {
  margin-bottom: 13.7857em;
}
#hero .btn-lg i {
  padding-left: 10px;
}
#hero #scroll-btn {
  display: block;
  width: 31px;
  margin: 0 auto 2.375em;
  cursor: pointer;
  -webkit-animation: godown 2s infinite;
  animation: godown 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes godown {
  0% {
    -webkit-transform: translate(0, 0);
  }
  20% {
    -webkit-transform: translate(0, 10px);
  }
  40% {
    -webkit-transform: translate(0, 0);
  }
}
#hero #scroll-btn:hover {
  opacity: 0.6;
}
#services {
  color: #fff;
  background: #1975d2;
  background: -moz-linear-gradient(left, #1975d2 0%, #1975d2 51%, #03a8f4 55%, #03a8f4 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #1975d2), color-stop(51%, #1975d2), color-stop(55%, #03a8f4), color-stop(100%, #03a8f4));
  background: -webkit-linear-gradient(left, #1975d2 0%, #1975d2 51%, #03a8f4 55%, #03a8f4 100%);
  background: -o-linear-gradient(left, #1975d2 0%, #1975d2 51%, #03a8f4 55%, #03a8f4 100%);
  background: -ms-linear-gradient(left, #1975d2 0%, #1975d2 51%, #03a8f4 55%, #03a8f4 100%);
  background: linear-gradient(to right, #1975d2 0%, #1975d2 51%, #03a8f4 55%, #03a8f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1975d2', endColorstr='#03a8f4', GradientType=1);
}
#services .no-padding-xs {
  padding-left: 0;
  padding-right: 0;
}
@media screen and (min-width: 768px) {
  #services .no-padding-xs {
    padding-left: 15px;
    padding-right: 15px;
  }
}
#services ul {
  margin: 0;
}
#services ul li .icon-box {
  height: 200px;
  padding-top: 45px;
  padding-bottom: 45px;
}
#services ul li .icon-box i {
  font-size: 3.42857em;
  margin-bottom: 0.3125em;
}
#services ul li .icon-box p {
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  #services ul li .icon-box p {
    font-size: 14px;
  }
}
#services ul li:nth-child(even) {
  background: #03a9f4;
}
#services ul li:nth-child(odd) {
  background: #1976d2;
}
#what-we-offer {
  padding: 8.5714em 0 3.8571em;
}
#what-we-offer .text-box {
  margin-bottom: 4.7142em;
}
#what-we-offer h5 {
  margin-top: 0.8em;
}
#what-we-offer .zmdi-hc-stack {
  font-size: 20px;
  margin-right: 16px;
  color: #f95d5a;
}
#what-we-offer .zmdi-hc-stack .zmdi-hc-inverse {
  color: #fff;
}
#skills {
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15.928em 0;
}
#skills.stopfade {
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
  background-color: rgba(0, 0, 0, 0.1);
}
#skills video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('../img/skills/polina.jpg') no-repeat;
  background-size: cover;
  -webkit-transition: opacity 1000ms ease;
  -moz-transition: opacity 1000ms ease;
  -ms-transition: opacity 1000ms ease;
  -o-transition: opacity 1000ms ease;
  transition: opacity 1000ms ease;
}
#skills .btn-frame {
  background: rgba(255, 255, 255, 0.1);
  display: block;
  margin: 0 auto;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  padding: 20px;
}
#skills #btn-skills {
  display: block;
  width: 90px;
  height: 90px;
  border: 0;
  margin: 0 auto;
  padding: 19px;
  border-radius: 50%;
  background: #f0f0f0;
}
#skills #btn-skills:focus {
  outline: none;
}
#skills #btn-skills i {
  color: #f95d5a;
  font-size: 42px;
}
#portfolio {
  padding: 8.5em 0;
}
#portfolio #lightgallery {
  margin-bottom: 2.2em;
}
#portfolio .category-item {
  float: left;
  width: 20%;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
#portfolio .category-item:hover {
  background: #2095f2;
  color: #fff;
}
#portfolio .portfolio-item .img-frame {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  padding: 8px;
  margin-bottom: 30px;
  position: relative;
}
#portfolio .portfolio-item .overlay {
  background: #2095f2;
  opacity: 0;
  text-align: center;
  padding-top: calc(50% - 76px);
  position: absolute;
  top: 8px;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
}
#portfolio .portfolio-item .overlay h4 {
  color: #fff;
}
#portfolio .portfolio-item .overlay p {
  font-weight: 300;
  color: #fff;
}
#portfolio .btn {
  padding: 10px 26px;
}
#portfolio .btn .zmdi-arrow-right {
  margin-left: 16px;
  font-size: 22px;
}
#team {
  padding: 119px 0;
}
#team .item {
  background: #2095f2;
  margin: 0 15px;
  padding: 0 0 4.7857em 0;
}
#team .item .img-box {
  border-bottom: solid 1px #03a9f4;
  cursor: pointer;
  padding: 20px 0;
}
#team .item .img-box:hover {
  border-bottom: solid 1px #fff;
}
#team .item .img-box img {
  border: solid 10px #03a9f4;
  margin: 0 auto;
  width: 180px;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
#team .item .img-box img:hover {
  border: solid 10px #fff;
}
#team .item .info-box {
  padding-top: 60px;
}
#team .item .info-box p {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 300;
}
#team .item .info-box ul {
  display: table;
  margin: 0 auto;
  padding-top: 10px;
  border-top: solid 1px #03a9f4;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
#team .item .info-box ul:hover {
  border-top: solid 1px #fff;
}
#team .item .info-box ul li {
  float: left;
  padding: 0 10px;
}
#team .item .info-box ul li .zmdi {
  color: #fff;
  font-size: 16px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
#team .item .info-box ul li .zmdi:hover {
  color: #f95d5a;
}
#fact {
  padding: 87px 0;
}
#fact .counter {
  margin-bottom: 2em;
}
@media screen and (min-width: 768px) {
  #fact .counter {
    margin-bottom: 0;
  }
}
#fact .counter .zmdi {
  color: #f95d5a;
  font-size: 2.4285em;
  padding-right: 20px;
}
#fact .counter .counter-number {
  font-size: 2.4285em;
  font-weight: 500;
}
#fact .counter p {
  font-size: 1.42857em;
  color: #1f1f1f;
}
#testimonials {
  padding: 8.2142em 0;
}
#testimonials #testimonials-carousel {
  margin-top: 6em;
}
@media screen and (min-width: 992px) {
  #testimonials #testimonials-carousel {
    margin-top: 9em;
  }
}
#testimonials #testimonials-carousel .carousel-indicators {
  top: 0;
  width: 60%;
  margin-top: -10em;
}
@media screen and (min-width: 1200px) {
  #testimonials #testimonials-carousel .carousel-indicators {
    width: 60%;
  }
}
#testimonials #testimonials-carousel .carousel-indicators li {
  margin: 0 27px;
  border: solid 5px #03a9f4;
  border-radius: 50%;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
  width: 90px;
  height: 90px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 400ms ease-in;
  -moz-transition: all 400ms ease-in;
  -ms-transition: all 400ms ease-in;
  -o-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
  display: none;
}
@media screen and (min-width: 768px) {
  #testimonials #testimonials-carousel .carousel-indicators li {
    display: inline-block;
  }
}
#testimonials #testimonials-carousel .carousel-indicators li.active {
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
  width: 122px;
  height: 122px;
  border: solid 5px #fff;
  display: inline-block;
}
#testimonials #testimonials-carousel .carousel-inner {
  width: 85%;
  margin: 0 auto;
  border: 1px solid #fff;
}
#testimonials #testimonials-carousel .text-block {
  padding: 1.75em;
}
@media screen and (min-width: 768px) {
  #testimonials #testimonials-carousel .text-block {
    padding: 2.8em;
  }
}
#testimonials #testimonials-carousel .carousel-control {
  background-image: none;
  opacity: 1;
  text-shadow: none;
  top: 40%;
  position: absolute;
}
#testimonials #testimonials-carousel .carousel-control .zmdi-hc-stack {
  font-size: 20px;
}
#clients {
  padding: 3.2857em 0 7.1357em;
  background: #f5f5f5;
}
#clients .owl-controls {
  margin-top: -60px;
}
#clients .owl-controls .owl-prev,
#clients .owl-controls .owl-next {
  position: absolute;
  background: #2095f2;
  opacity: 1;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
#clients .owl-controls .owl-prev:hover,
#clients .owl-controls .owl-next:hover {
  background: #f95d5a;
}
#clients .owl-controls .owl-prev {
  left: 0;
}
#clients .owl-controls .owl-next {
  right: 0;
}
#pricing-table {
  padding: 8.5714em 0 0;
}
@media screen and (min-width: 768px) {
  #pricing-table {
    height: 953px;
  }
}
#pricing-table .product {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  padding: 34px 0;
  margin: 35px 0;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
#pricing-table .product h6,
#pricing-table .product p {
  text-transform: none;
}
#pricing-table .product .product-header {
  padding-bottom: 30px;
  border-bottom: solid 1px #f5f5f5;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
#pricing-table .product .product-header .price-box {
  color: #2095f2;
  margin: 30px 0;
}
#pricing-table .product .product-header .price-box strong {
  font-size: 1.7142em;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
#pricing-table .product .product-details ul {
  margin: 43px 0;
}
#pricing-table .product .product-details ul li {
  color: #727272;
  line-height: 3em;
}
#pricing-table .product .product-details .btn {
  font-weight: 400;
  padding: 9px 38px;
}
#pricing-table .product.distinction {
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.1);
  padding-top: 50px;
  margin-top: 0;
  padding-bottom: 50px;
  margin-left: -15px;
  margin-right: -15px;
}
#pricing-table .product.distinction .product-header {
  border-bottom: solid 1px #f95d5a;
}
#pricing-table .product.distinction .price-box strong {
  font-size: 2.1428em;
  margin: 40px 0;
}
#pricing-table .product.distinction ul {
  margin: 55px 0;
}
#pricing-table .product.distinction .product-details .btn {
  font-weight: 500;
  font-size: 1.4285em;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
#pricing-table .product.distinction .product-details .btn:hover {
  background: #f95d5a;
  border-color: #f95d5a;
}
#latest-news {
  padding: 8.5714em 0;
}
#latest-news .news {
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.1);
}
#latest-news .news .img-box {
  margin-bottom: 30px;
  position: relative;
  font-size: 18px;
}
#latest-news .news .img-box img {
  width: 100%;
}
#latest-news .news .img-box .zmdi-hc-stack {
  position: absolute;
  bottom: -18px;
  right: 20px;
  color: #2095f2;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
#latest-news .news .img-box .zmdi-hc-stack:hover {
  color: #f95d5a;
}
#latest-news .news .img-box .zmdi-hc-stack .zmdi-hc-inverse {
  color: #fff;
}
#latest-news .news .news-content {
  margin: 0 15px;
  padding-bottom: 20px;
}
#latest-news .news .news-content h6 {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
}
#latest-news .font-light {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 30px;
}
#newsletter {
  background: #f5f5f5;
  padding: 8.5714em 0;
}
#newsletter form input {
  border: none;
  background: transparent;
}
#newsletter form input:focus {
  outline: none;
}
#newsletter form .email {
  border-bottom: 1px solid #2095f2;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
#newsletter form .btn {
  font-size: 16px;
  border-radius: 24px;
  padding: 12px;
  display: block;
  width: 165px;
  margin: 0 auto;
}
#newsletter form .btn .sub {
  text-transform: uppercase;
}
footer {
  padding: 100px 0;
}
footer .zmdi-hc-stack {
  font-size: 15px;
}
